{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppTrak {{ template "title" .}}</title>
    <link rel="stylesheet" href="/public/css/main.css">

    <!-- <a href="https://www.freepik.com/search">Icon by ChilliColor</a> -->
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <main>

        {{ template "main" .}}

    </main>

    <script src="/public/js/main.js" type="text/javascript"></script>
</body>
</html>

{{ end }}
